@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    /* :root là CSS pseudo-class đại diện cho root element (<html>) của tài liệu HTML 

    CSS custom property (thuộc tính tùy chỉnh)/CSS variable
     
    Syntax) --variable-name: value;

    Con số 900, 100, etc. xuất hiện để chỉ độ đậm/tối của màu (thường thấy trong hệ thống màu kiểu Tailwind CSS hoặc Material Design)
    */
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
}

::before,
::after {
    box-sizing: border-box;
}

.home-section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.aside {
    width: 270px;
    height: 100%;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}